@model Blog





<main class="main">
    <div class="cover-home3">
        <div class="container">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-10 col-lg-12">
                    <div class="pt-30 border-bottom border-gray-800 pb-20">
                        <div class="box-breadcrumbs">
                            
                        </div>
                    </div>
                    <div class="row mt-50 align-items-end">
                        <div class="col-lg-9 col-md-8">
                            <h2 class="color-linear mb-30">@Model.Name</h2>
                            <div class="box-author mb-20">
                                <div class="author-info">
                                  <span class="color-gray-700 text-sm mr-30">  @Model.PublishTime.ToString("MMMM d\\t\\h, yyyy 'at' h:mm tt")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="box-share border-gray-800">
                                <h6 class="d-inline-block color-gray-500 mr-10">Share</h6><a class="icon-media icon-fb" href="#"></a><a class="icon-media icon-tw" href="#"></a><a class="icon-media icon-printest" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-50">
                        <div class="col-lg-8">
                            <div class="content-detail border-gray-800">
                                <p class="text-xl color-gray-500">@Model.Description</p>
                                <div class="mt-20 mb-20"><img class="img-bdrd-16" src=" @Model.ImageUrl" alt="@Model.Name"></div>
                                
                            
                                
                            </div>
                            <div class="box-tags">
                               
                                <a class="btn btn-tags bg-gray-850 border-gray-800 mr-10 hover-up" href="blog-archive.html">@Model.Tags</a> </div>
                                
                                <div class="box-comments border-gray-800">
                                <h3 class="text-heading-2 color-gray-300">YORUMLAR</h3>
                                <div class="list-comments-single">
                                    @foreach (var item in ViewBag.Comments)
                                    {
                                        <div class="item-comment">
                                            <div class="comment-left">
                                                <div class="box-author mb-20">
                                                    <div class="author-info">
                                                        <h6 class="color-gray-700">@item.Name</h6><span class="color-gray-700 text-sm mr-30">     @item.PublishDate.ToString("MMMM d\\t\\h, yyyy 'at' h:mm tt")</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="comment-right">
                                                <div class="text-comment text-xl color-gray-500 bg-gray-850 border-gray-800"> @item.Message </div>
                                            </div>



                                        </div>
                                    }
                                    
                                </div>
                            </div>
                            <div class="box-form-comments mb-50">
                                <h4 class="text-heading-4 color-gray-300 mb-40">Bir yorum bırakın</h4>
                                <div class="box-forms">
                                    <form action="/Blogs/CreateComment" method="post" id="leavereply">
                                     
                                            <input id="blogId" name="blogId" type="hidden" value="@Model.Id" />
                                          <br />
                                            <textarea class="form-control bg-gray-850 border-gray-800 bdrd16 color-gray-500" id="email" id="name" name="name" class="text" required>Adiniz </textarea>
                                        <br />
                                            <textarea class="form-control bg-gray-850 border-gray-800 bdrd16 color-gray-500" id="email" name="email" class="text" requiredname="message" rows="2" cols="5" placeholder="Emaıl"></textarea>
                                        <br />
                                            <textarea class="form-control bg-gray-850 border-gray-800 bdrd16 color-gray-500" id="message" name="message" rows="8" cols="50" placeholder="Yorumunuzu yazın"></textarea>
                                        <br />
                                            <div class="col-sm-6 text-end">
                                                <button type="submit" class="btn btn-linear">Yorum Gönder</button>
                                            </div>
                                       
                                    </form>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>