@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Blog>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bloglarım</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>

@foreach (var item in Model.OrderByDescending(u => u.Id))
{
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">@item.Name - @item.PublishTime.ToString("MM/dd HH/mm")</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Seçenekler:</div>
                    <a class="dropdown-item" asp-action="EditBlog" asp-route-Id="@item.Id">Düzenle</a>
                    @if(item.Status == 0)
                    {
                        <a class="dropdown-item" asp-action="ChangeStatus" asp-route-Id="@item.Id">Görünüme Aç</a>
                       
                    }
                    else
                    {
                        <a class="dropdown-item" asp-action="ChangeStatus" asp-route-Id="@item.Id">Görünüme Kapat</a>
                    }

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Delete" asp-route-Id="@item.Id">Sil</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            @item.Description -- "Taglar : "@item.Tags
        </div>
    </div>

}
