@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Blog
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bloglarını Düzenle</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>
<form method="post" class="user">
    <div class="form-group">
        <label asp-for="@Model.Name">Blog ismi:</label>
        <input asp-for="@Model.Name" type="text" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
         
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">Blog açıklama:</label>
        <input asp-for="@Model.Description" type="text" class="form-control" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tags">Etiketler:</label>
        <input asp-for="@Model.Tags" type="text" class="form-control" />
        <span asp-validation-for="@Model.Tags" class="text-danger"></span>
    </div>

    <div>
        
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <button class="btn btn-primary row form-control" style="width:150px">Kaydet</button>
        
        <a asp-action="Blogs" class="btn btn-secondary btn-icon-split" style="margin-left:15px">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Geri Dön</span>
        </a>
    </div>
    
</form>